:root {
  --purple: #3e0249;
}

body {
  padding: 0;
  margin: 0;
  color: var(--purple);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 160px;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 3rem;
  text-transform: uppercase;
}

.container {
  padding: 40px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#gameboard {
  width: 450px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.box {
  height: 150px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--purple);
}

button {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: var(--purple);
  color: white;
  font-size: 25px;
  transition: 200ms;
}

button:hover {
  cursor: pointer;
  transform: translateY(-10px);
}
